---
import Layout from "@/layouts/Layout.astro"
import {Image} from "astro:assets";
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card"
import leksellGkIcon from "@/assets/images/leksell-gk-icon.jpg" with {type: "image/jpeg"}
import { Header } from "@/components/header";
import { Button } from "@/components/ui/button";
---

<Layout 
	title="Dr. Amr El-Shehaby" 
	description="With extensive experience in Gamma Knife radiosurgery, Dr. Amr El-Shehaby offers non-invasive treatments for various brain disorders using cutting-edge technology.">
	<Header title="Dr. Amr El-Shehaby" 
	description=`M.B.B ch.MD. PhD | 
	Professor of Neurosurgery |
	Facuty of Medicine - Ain Shams University`
	/>

	<div class="grid md:grid-cols-2 gap-8 items-start">
		<div>
		  <h2 class="text-2xl font-semibold mb-4">Expertise in Stereotactic Radiosurgery</h2>
		  <p class="mb-4">
			With extensive experience in Gamma Knife radiosurgery, Dr. Amr El-Shehaby offers non-invasive treatments for various brain disorders using cutting-edge technology.
		  </p>
		  <Image
			src={leksellGkIcon}
			alt="Gamma Knife Radiosurgery Illustration"
			class="rounded-lg shadow-lg mb-4"
		  />
		  <blockquote class="mt-6 border-l-2 pl-6 italic">
			Gamma Knife radiosurgery: Delivered with surgical precision
		  </blockquote>
		  <a href="/gamma-knife">
			<Button className="w-full mt-4">Learn More About Gamma Knife</Button>
		  </a>
		</div>
		<div class="space-y-6">
			<Card>
				<CardHeader>
				  <CardTitle>Qualifications & Training</CardTitle>
				</CardHeader>
				<CardContent>
				  <ul>
					<li>MD Doctoral thesis on Gamma Knife Radiosurgery as a Treatment Modality in Intracranial Meningiomas (First in Egypt at the time)</li>
					<li>Gamma Knife radiosurgery training and mentorship under Professor Jeremy C. Ganz (2001-2006)</li>
					<li>Official Gamma Knife PERFEXION user certification (UPMC, Pittsburgh, PA, USA, 2012)</li>
					<li>Official Gamma Knife ICON user certification (Cleveland Clinic, Cleveland, Ohio, USA, 2017)</li>
				  </ul>
				</CardContent>
			  </Card>
  
			  <Card>
				<CardHeader>
				  <CardTitle>Professional Experience</CardTitle>
				</CardHeader>
				<CardContent>
				  <ul>
					<li>Part of the team at Gamma Knife Center Cairo since August 2001</li>
					<li>Qualified neurosurgery consultant in the field of stereotactic radiosurgery since 2006</li>
					<li>Deputy Medical Director at Gamma Knife Center Cairo since 2011</li>
					<li>Participated in the treatment of over 10,000 patients</li>
					<li>Published more than 50 papers in the field of stereotactic radiosurgery</li>
					<li>Presentations at several international conferences</li>
					<li>Member of organizing and scientific committees of the ISRS course held in Cairo, 2019</li>
					<li>Faculty member in ISRS Educational Courses since 2019</li>
				  </ul>
				</CardContent>
			  </Card>
  
			  <Card>
				<CardHeader>
				  <CardTitle>Specializations</CardTitle>
				</CardHeader>
				<CardContent>
				  <p class="mb-2">Dr. Amr El-Shehaby specializes in treating the following conditions with Gamma Knife radiosurgery:</p>
				  <ul>
					<li>Acoustic neuroma (vestibular schwannomas)</li>
					<li>Brain metastases</li>
					<li>Chondrosarcomas and Chordomas</li>
					<li>Craniopharyngiomas</li>
					<li>Gliomas</li>
					<li>Meningiomas</li>
					<li>Paragangliomas</li>
					<li>Pituitary adenomas</li>
					<li>Arteriovenous malformations (AVM)</li>
					<li>Cavernous hemangiomas</li>
					<li>Trigeminal neuralgia</li>
				  </ul>
				</CardContent>
			  </Card>
          </div>
</Layout>
