---
import { Button } from "@/components/ui/button";
import { getLangFromUrl } from "@/i18n/utils";
const lang = getLangFromUrl(Astro.url);
---

<Button>
  <a href={lang === "ar" ? "/" : "/ar/"}>{lang === "en" ? "عربي" : "English"}</a
  >
</Button>
