---
import "../styles/globals.css"
import '@fontsource-variable/noto-sans';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Dr. Amr El-Shehaby</title>
    </head>
    <body class="container mx-auto">
        <slot/>
    </body>
</html>