---
import "../styles/globals.css";
import "@fontsource-variable/noto-sans";
import "@fontsource-variable/noto-sans-arabic";
import Footer from "@/components/footer.astro";
import leksellGk from "../assets/images/leksell-gk-icon.jpg";
import { SEO } from "astro-seo";
import { getLangFromUrl } from "@/i18n/utils";
import LanguagePicker from "@/components/language-picker.astro";
type Props = {
  title: string;
  description: string;
};
const { title, description } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title,
          type: "website",
          image: leksellGk.src,
        },
      }}
      twitter={{
        title,
        description,
        image: leksellGk.src,
      }}
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="flex flex-col min-h-screen" dir={lang === "ar" ? "rtl" : "ltr"}>
    <main class="container mx-auto px-4 py-8 flex-grow">
      <div class="flex justify-end mb-4">
        <LanguagePicker />
      </div>
      <slot />
    </main>
    <Footer />
  </body>
</html>
